body {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: sans-serif; 
}
.board {
    width: 306px; background: #f0f0f0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 3px;
    display: grid;
    border: 1px solid #ddd;
    cursor: pointer;
}
.box {
    background: #fff; display: flex; justify-content: center; align-items: center;
    font-size: 2rem; color: #222;
}
.box:hover {
    background: #fafafa;
}

#string {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 20vw;
    height: 20vh;
    background: #000;
}

@media screen and (max-width: 1050px) {
    #string {
        width: 50vw;
        height: 30vh;
    }
}

@media screen and (max-width: 800px) {
    #string {
        width: 40vw;
        height: 30vh;
    }
}

@media screen and (max-width: 750px) {
    #string {
        width: 40vw;
    }
}

@media screen and (max-width: 500px) {
        #string {
            height: 40vh;
            width: 55vw;
            flex-wrap: wrap;
        }
}

@media screen and (max-width: 350px) {
    #string {
        height: 40vh;
        width: 55vw;
        flex-wrap: wrap;
        font-size: 24px;
    }
}
