:root {
    --color: #000;
    --bg: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: sans-serif; 
}
.board {
    position: absolute;
    top: 20%;
    width: 306px; background: #f0f0f0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 3px;
    display: grid;
    border: 1px solid #ddd;
    cursor: pointer;
}
.box {
    background: #fff; display: flex; justify-content: center; align-items: center;
    font-size: 2rem; color: #222;
}
.box:hover {
    background: #fafafa;
}

.icon {
    border-radius: 100%;
    background: #808080;
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

span {
    position: absolute;
    right: 25px;
    top: 70px;
}

button {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid var(--color);
}

#string {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 20vw;
    height: 20vh;
    background: #000;
}

/*Dark Mode*/

body.dark {
    background: var(--color);
    color: var(--bg);
}

body.dark #string {
    background: var(--bg);
    color: var(--color);
}

body.dark .icon {
    background: #ffff00;
    transform: translateX(90px);
}

@media screen and (max-width: 1920px) {
    #string {
        margin-top: 10%;
        width: 25vw;
        height: 15vh;
    }
}

@media screen and (max-width: 1440px) {
    #string {
        margin-top: 15%;
        width: 30vw;
        height: 15vh;
    }
}

@media screen and (max-width: 1024px) {
    #string {
        margin-top: 220px;
        width: 35vw;
        height: 15vh;
    }
}

@media screen and (max-width: 768px) {
    #string {
        margin-top: 130px;
        width: 40vw;
        height: 20vh;
    }
    .board {
        position: absolute;
        top: 20%;
    }
    
}

@media screen and (max-width: 425px) {
    #string {
        margin-top: 70px;
        height: 20vh;
        width: 55vw;
        flex-wrap: wrap;
    }
    .board {
        position: absolute;
        top: 20%;
    }
    
}

@media screen and (max-width: 375px) {
    #string {
        margin-top: 70px;
        height: 20vh;
        width: 55vw;
        flex-wrap: wrap;
        font-size: 24px;
    }
    .board {
        position: absolute;
        top: 20%;
    }
}


@media screen and (max-width: 320px) {
    #string {
        margin-top: 70px;
        height: 20vh;
        width: 55vw;
        flex-wrap: wrap;
        font-size: 24px;
    }
    .board {
        position: absolute;
        top: 20%;
    }
}